div:hover {
	background-color: #e8d9fa;
}

div {
    border-radius: 10px;
	background: -webkit-linear-gradient(top, #ffeafb 0%,#e3d1fd 51%,#d1f0ff 100%);
	font-family: monospace;
	cursor: url(http://i.imgur.com/1tlkdT6.png), auto;
}
input {
	background: -webkit-linear-gradient(top, #ffeafb 0%,#e3d1fd 51%,#d1f0ff 100%);
	font-family: monospace;
	cursor: url(http://i.imgur.com/1tlkdT6.png), auto;
}

div div {
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #ffeafb 0%,#e3d1fd 51%,#d1f0ff 100%);
	font-family: monospace;
	cursor: url(http://i.imgur.com/1tlkdT6.png), auto;
}

p {
    font-family: monospace;
  	color: #00F49A;
}  

a:hover {
	color: #9932CC;
	cursor: url(https://i.imgur.com/wIKIV91.png), auto
}




