h1 {
	font-color:#DB70DB;
	font-size: 130%;

}

div:hover {
	background-color: #FFE1FF;
}
html {
	font-color: #683A5E;
	font-family: "Times New Roman", Helvetica;

}

div {
	background: -webkit-linear-gradient(top, #ffccf5 0%,#cdaaff 51%,#a8e3ff 100%);
	font-family: monospace;
	cursor: url(http://i.imgur.com/1tlkdT6.png), auto;
}
input {
	background: -webkit-linear-gradient(top, #230854 15%,#9932CD 60%,#3066FF 100%);
	font-family: monospace;
	cursor: url(http://i.imgur.com/1tlkdT6.png), auto;
}

div div {
    background: -webkit-linear-gradient(top, #ffccf5 0%,#cdaaff 51%,#a8e3ff 100%);
	font-family: monospace;
	cursor: url(http://i.imgur.com/1tlkdT6.png), auto;
}

p{
    font-family: monospace;
}


a:hover {
	color: #9932CC;
	cursor: url(https://i.imgur.com/wIKIV91.png), auto
}


